.centered {
    text-align: center;
}

div.top3 {
}

td {
    padding: 5px;
}

input.feedback {
    display: inline-block;
    padding: 100px;
    border-radius: 10px;
}

#feedbackinput {
    height: 100px;
}
